Repository wetransform/hc-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: help-content, help-sidebar, theme, home-page

.github/labeler.yml:

# identify where changes are done
help-content:
- 'docs/**/*.md'
- 'i18n/*/docusaurus-plugin-content-docs/**/*.md'
help-sidebar:
- 'sidebars.js'
- 'i18n/*/docusaurus-plugin-content-docs/current.json'
theme:
- 'src/theme/**/*.js'
- 'i18n/*/docusaurus-theme-classic/*.json'
home-page:
- 'src/pages/index.js'
- 'src/components/HomepageFeatures/index.js'
- 'i18n/*/code.json' # XXX is code.json also relevant for other things than the home page?

# Add 'lang-missing-cs` label if any markdown files in docs/ were changed but not for the Czech language
lang-missing-cs:
- any: ['docs/**/*.md']
  all: ['!i18n/cs/docusaurus-plugin-content-docs/**/*.md']
  # sidebar changes
- any: ['sidebars.js']
  all: ['!i18n/cs/docusaurus-plugin-content-docs/current.json']
  # theme changes
- any: ['src/theme/**/*.js']
  all: ['!i18n/cs/docusaurus-theme-classic/*.json']
  # home page
- any: ['src/components/HomepageFeatures/index.js']
  all: ['!i18n/cs/code.json']
- any: ['src/pages/index.js']
  all: ['!i18n/cs/code.json']

# Add 'lang-missing-de` label if any markdown files in docs/ were changed but not for the Czech language
lang-missing-de:
- any: ['docs/**/*.md']
  all: ['!i18n/de/docusaurus-plugin-content-docs/**/*.md']
  # sidebar changes
- any: ['sidebars.js']
  all: ['!i18n/de/docusaurus-plugin-content-docs/current.json']
  # theme changes
- any: ['src/theme/**/*.js']
  all: ['!i18n/de/docusaurus-theme-classic/*.json']
  # home page
- any: ['src/components/HomepageFeatures/index.js']
  all: ['!i18n/de/code.json']
- any: ['src/pages/index.js']
  all: ['!i18n/de/code.json']

FIXME test change
  docs/2021-03-31-reference-notification-process-notification.md
  i18n/de/docusaurus-plugin-content-docs/current/2021-03-31-reference-notification-process-notification.md
Labels: help-content

FIXME test change 2
  src/components/HomepageFeatures/index.js
Labels: home-page

FIXME change sidebar
  sidebars.js
Labels: help-sidebar

Deploying to gh-pages from @ wetransform/hc-documentation@150fec4a145b3ddfc58843fb5c8f13f6ddab6381 🚀
  cs/search-index-docs-default-current.json
  de/search-index-docs-default-current.json
  search-index-docs-default-current.json
Labels: none

fixup: remove dataset publishing without theme
  docs/create-manage-datasets/create-dataset/2015-01-10-dataset-create.md
  i18n/de/docusaurus-plugin-content-docs/current/create-manage-datasets/create-dataset/2015-01-10-dataset-create.md
Labels: help-content
