Repository wetransform/hc-documentation, pull requests merged in 2023-06, with the labels that each got.

#62 fix: show sidebar on FAQ items
  docs/faq/faq_hc/faq-hc-datasets-1.md
  docs/faq/faq_hc/faq-hc-datasets-2.md
  docs/faq/faq_hc/faq-hc-datasets-3.md
  docs/faq/faq_hc/faq-hc-datasets-4.md
  docs/faq/faq_hc/faq-hc-datasets-5.md
  docs/faq/faq_hc/faq-hc-general-1.md
  docs/faq/faq_hc/faq-hc-general-2.md
  docs/faq/faq_hc/faq-hc-general-3.md
  docs/faq/faq_hc/faq-hc-general-4.md
  docs/faq/faq_hc/faq-hc-inspire-1.md
  docs/faq/faq_hc/faq-hc-metadata-1.md
  docs/faq/faq_hc/faq-hc-metadata-2.md
  docs/faq/faq_hc/faq-hc-schema-1.md
  docs/faq/faq_hc/faq-hc-schema-2.md
  docs/faq/faq_hc/faq-hc-services-1.md
  docs/faq/faq_hc/faq-hc-services-2.md
  docs/faq/faq_hc/faq-hc-services-3.md
  docs/faq/faq_hc/faq-hc-services-4.md
  docs/faq/faq_hc/faq-hc-services-5.md
  docs/faq/faq_hc/faq-hc-validation-1.md
  docs/faq/faq_hc/faq-hc-validation-2.md
  docs/faq/faq_hc/faq-hc-validation-3.md
  docs/faq/faq_hc/faq-hc-validation-4.md
  docs/faq/faq_hs/faq-hs-general-1.md
  docs/faq/faq_hs/faq-hs-general-2.md
  docs/faq/faq_hs/faq-hs-general-3.md
  docs/faq/faq_hs/faq-hs-general-4.md
  docs/faq/faq_hs/faq-hs-general-5.md
  docs/faq/faq_hs/faq-hs-mapping-1.md
  docs/faq/faq_hs/faq-hs-mapping-2.md
  docs/faq/faq_hs/faq-hs-mapview-1.md
  docs/faq/faq_hs/faq-hs-mapview-2.md
  docs/faq/faq_hs/faq-hs-mapview-3.md
Labels: lang-missing-cs, lang-missing-de, help-content

#63 fixup: fixed incorrect image link
  docs/setup-hc/config-validation/2015-02-10-validation.md
  i18n/de/docusaurus-plugin-content-docs/current/setup-hc/config-validation/2015-02-10-validation.md
Labels: lang-missing-cs, help-content

#64 fix: improve navigation with breadcrumbs
  docs/faq/faq_hc/faq-hc-datasets-1.md
  docs/faq/faq_hc/faq-hc-datasets-2.md
  docs/faq/faq_hc/faq-hc-datasets-3.md
  docs/faq/faq_hc/faq-hc-datasets-4.md
  docs/faq/faq_hc/faq-hc-datasets-5.md
  docs/faq/faq_hc/faq-hc-general-1.md
  docs/faq/faq_hc/faq-hc-general-2.md
  docs/faq/faq_hc/faq-hc-general-3.md
  docs/faq/faq_hc/faq-hc-general-4.md
  docs/faq/faq_hc/faq-hc-inspire-1.md
  docs/faq/faq_hc/faq-hc-metadata-1.md
  docs/faq/faq_hc/faq-hc-metadata-2.md
  docs/faq/faq_hc/faq-hc-schema-1.md
  docs/faq/faq_hc/faq-hc-schema-2.md
  docs/faq/faq_hc/faq-hc-services-1.md
  docs/faq/faq_hc/faq-hc-services-2.md
  docs/faq/faq_hc/faq-hc-services-3.md
  docs/faq/faq_hc/faq-hc-services-4.md
  docs/faq/faq_hc/faq-hc-services-5.md
  docs/faq/faq_hc/faq-hc-validation-1.md
  docs/faq/faq_hc/faq-hc-validation-2.md
  docs/faq/faq_hc/faq-hc-validation-3.md
  docs/faq/faq_hc/faq-hc-validation-4.md
  docs/faq/faq_hs/faq-hs-general-1.md
  docs/faq/faq_hs/faq-hs-general-2.md
  docs/faq/faq_hs/faq-hs-general-3.md
  docs/faq/faq_hs/faq-hs-general-4.md
  docs/faq/faq_hs/faq-hs-general-5.md
  docs/faq/faq_hs/faq-hs-mapping-1.md
  docs/faq/faq_hs/faq-hs-mapping-2.md
  docs/faq/faq_hs/faq-hs-mapview-1.md
  docs/faq/faq_hs/faq-hs-mapview-2.md
  docs/faq/faq_hs/faq-hs-mapview-3.md
  sidebars.js
Labels: lang-missing-cs, lang-missing-de, help-content, help-sidebar
